.background{
    position: absolute;
    width: 1518px;
    height: 730px;
  
  background: linear-gradient(180deg, #CCC1ED 34.69%, #93A8FF 100%);
  }
  
  .img1{
    position: absolute;
  left: 47.46%;
  right: 42.3%;
  top: 50.67%;
  bottom: 30.33%;
  width: 100px;
    height: 150px;
  
  }
  
  .img2{
    position: absolute;
  left: -4.72%;
  right: 63.47%;
  top: -40.17%;
  bottom: 71.06%;
  
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }
  .line{
    position: absolute;
    left: 10%;
    right: 4.85%;
    top: 33.9%;
    bottom: 54.33%;
  
  font-family: Gill Sans MT;
  font-style: normal;
  font-weight: normal;
  font-size: 50px;
  line-height: 48px;
  /* or 67% */
  
  text-align: center;
  letter-spacing: -1px;
  
  color: #623CEA;
  }
  .btn{
    display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1px 1px;
  
  position: absolute;
  left: 47.06%;
  right: 39.21%;
  top: 76.63%;
  bottom: 19.52%;
  height:50px;
  width:100px;
  
  background: #FFFFFF;
  border-radius: 6px;
  
  }
  
  .text{
    color: #623CEA;
  }